<body class="flex w-full mt-4 justify-center">
    <main class="w-[60%] h-[80vh] flex flex-col bg-slate-100/40 rounded-xl p-4">
        <div>
            <mat-icon>arrow_back</mat-icon>
        </div>
        <h1>My Shopping Bag</h1>
        <mat-list class="flex flex-col items-center justify-center  w-full h-auto">
            <mat-list-item *ngFor="let product of products; last as last" class="flex flex-col p-3 w-full h-auto justify-between items-start">
                <div class="flex">
                    <img src="{{product.imagen}}" alt="image of product {{product.nombre}}">
                    <div class="flex flex-col">
                        <h4 class="font-medium">{{product.nombre}}</h4>
                        <span>{{product.cantidad}}</span>
                        <div>
                            <button mat-button><mat-icon>control_point</mat-icon></button>
                        </div>
                    </div>
                </div>

                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </mat-list-item>
        </mat-list>
    </main>
</body>