<mat-toolbar color="accent" class="flex w-full justify-between items-center">
    <span class="text-white font-medium text-3xl">AngularStore</span>
    <ul class="flex text-white gap-3 items-center">
        <li><button mat-button routerLinkActive="home" routerLink="home">Home</button></li>
        <li><button mat-button>Branch Offices</button></li>
        <li>
            <button mat-button [mat-menu-trigger-for]="Store">Store <mat-icon>keyboard_arrow_down</mat-icon></button>
            <mat-menu #Store>
                <button mat-menu-item routerLink="store/categories">Categories</button>
                <button mat-menu-item routerLink="store/brands">Brands</button>
            </mat-menu>
        </li>
        <li>
            <button mat-icon-button [mat-menu-trigger-for]="Cart"><mat-icon>shopping_cart</mat-icon></button>
            <mat-menu #Cart>
                <button mat-menu-item routerLink="cart/list-of-products">List</button>
                <button mat-menu-item>Pay</button>
                <button mat-menu-item>Addres</button>
            </mat-menu>
        </li>
        <li>
            <button mat-icon-button [mat-menu-trigger-for]="Account"><mat-icon>person</mat-icon></button>
            <mat-menu #Account>
                <button mat-menu-item>Profile</button>
                <button mat-menu-item>Address</button>
                <button mat-menu-item>Orders</button>
                <button mat-menu-item>Favorites</button>
                <button mat-menu-item>Methods of pay</button>
            </mat-menu>
        </li>
    </ul>
</mat-toolbar>
<router-outlet></router-outlet>