<main class="flex items-center justify-center flex-col pt-4 w-full h-auto">
    <h1 class="font-bold text-center">Shop in AngularStore!</h1>
    <img src="assets/img/shop-banner.jpg" alt="banner" class="w-[50%] h-[300px] mb-8 rounded-xl">
    <div class="flex justify-evenly w-full">
        <button mat-raised-button color="accent" class="text-gray-700 w-[15%]" routerLink="/cart/list-of-products">List of Products</button>
        <button mat-raised-button color="accent" class="text-gray-700 w-[15%]">Address</button>
        <button mat-raised-button color="accent" class="text-gray-700 w-[15%]">Pay</button>
    </div>
</main>
